.column {
    flex: 1 1;
}

.name-column {
    width: 100px;
}

.cell--play {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #f7f7f7;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.cell-result {
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.row--header .cell--play:last-child,
.row .cell-result:last-child {
    border-right: 0;
}

.row:last-child .cell--play,
.row:last-child .cell-result {
    border-bottom: 0;
}

.row {
    display: flex;
}

.row--header {
    height: 100px;
}

.table {
    max-width: 900px; margin: 0 auto;
    border: 1px solid #dedede;
}

.cell-result {
    position: relative;
    padding: 7px;
}

.cell-result-bar {
    background-color: #acc6ce
}

.cell-result-bar--iterator {
    background-color: #5d7982
}

.cell-result-iteration {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #5d7982;
}
