.column {
    flex: 1 1 auto;
}

.name-column {
    width: 100px;
}

.cell--play {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.row {
    display: flex;
}

.row--header {
    height: 100px;
}

.table {
    max-width: 900px; margin: 0 auto;
}

.cell-result {
    position: relative;
    padding: 5px;
}

.cell-result-bar {
    background-color: gray;
}

.cell-result-bar--iterator {
    background-color: black;
}

.cell-result-iteration {
    position: absolute;
    top: 0;
    right: 0;
}
